.layout {
    max-width: 480px;
    margin: 0 auto;
    padding: 1em 0.5em
}

.header {
    padding: 0 0 2rem;
    display: flex;
    gap: 1em;
    height: 3em;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
    flex: 1;
}

.title {
    font-size: 1.5em;
}

.subtitle {
    font-size: 1em;
}

.back {
    flex: 2em 0 0;
}

.emptyBlock {
    flex: 2em 0 0;
}