.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.column {
    display: flex;
    justify-content: space-between;
}

.actions {
    display: flex;
    gap: 1em
}

.button {
    flex: 1;
    display: block !important;
}

.accordion > div {
    background-color: transparent !important;
    color: inherit !important;
}
